@page
@using Microsoft.AspNetCore.Components
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome to the Big Bad Blog</h1>
</div>

@foreach (var post in Model.Posts)
{
	<div class="card">
		<div class="card-body">
			<h5 class="card-title"><a href="/p/@post.Metadata.Slug">@post.Metadata.Title</a></h5>
			<h6>by @post.Metadata.Author on @post.Metadata.Date.ToShortDateString()</h6>
			<p class="card-text">@Html.Raw(Markdig.Markdown.ToHtml(post.Content, Model.MarkdownPipeline))</p>
		</div>
	</div>
}